@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model OnlineBookstore.Pages.Admin.IndexModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <title>Online Bookstore Admin</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    <component type="typeof(OnlineBookstore.Pages.Admin.Routed)" render-mode="ServerPrerendered" />
    <script src="/_framework/blazor.server.js"></script>

</body>
</html>
