@page
@model OnlineBookstore.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks! Enjoy your new books!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>